

div.transbox {
    margin: 0px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

 div.transbox p {
    margin: 1%;
    font-weight: bold;
    color: #000000;
    
}
 
 .letter {
    color: red; 
    font-size: 56px; 
   } 

p {
    color: white;
    font-family: "Comic Sans MS";  
    font-size:42px; 
    text-align: center; 
    
}


